const image = {
  id: '{{value.id}}',
  url:'{{dataURISchema}}',
  width: {{value.width}},
  height: {{value.height}},
  type: '{{value.type}}',
  origPath: '{{value.origPath}}'
};
export default image;